*{
    box-sizing: border-box;
    background-color: pink;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;

}

.flex-item-left{
    background-color: blue;
    padding: 10px;
    flex: 25%;

}

.flex-item-right{
    background-color: red;
    padding: 10px;
    flex: 25%;
}
.flex-item-far-right{
    background-color: pink;
    padding: 10px;
    flex: 25%;
}

.flex-far-far-right{
    background-color: orange;
    padding: 10px;
    flex: 25%;
}


@media (max-width: 800px) {
    .mikoPicture{
        flex: 100%;
    }
}

.mikoPicture{
    max-width: 15%;
    max-height: 15%;
    border: 5px solid black;
    padding: 3px;
    margin: 5px;
    flex: 33%;
}

.pictureWords{
    text-align: center;
}
.title{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-stretch: condensed;
}
.item{
    vertical-align: top;
    display: inline-block;
    text-align: left;

}
.caption{
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph{
    color: black;
    text-align: center;
    text-decoration: underline overline;
    text-decoration-color: purple;
    text-shadow: 100px;
    font-size: x-large;

}

@keyframes catSlide {
    from{
        width: 0px;
    }
    to{
        width: 400px;
    }
}

.animation:hover{
    width: 400px;
    height: 100px;
    background-color: white;
    animation-name: catSlide;
    animation-duration: 2s;
    font-size: x-large;
}